*{
    font-family: Arial, emoji;
}

body{
    margin: 0;
    padding: 0;

    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/RnwnIzX.gif');
    min-height: 100vh;
    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: linear-gradient(109.6deg, rgba(36, 45, 57, 0.9) 11.2%, rgba(16, 37, 60, 1) 51.2%, rgba(0, 0, 0, 0.9) 98.6%);
    border-radius: 10px;
    border-color: rgb(36, 45, 57);
    border-style: solid;

}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: #adadad;
}
.center h2{
    text-align: center;
    color: #adadad;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
    filter: drop-shadow(0 0 2rem #4a4c4e);
}
.center form{
    padding: 40px 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    font-size: 22px;

}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 22px;
    border: none;
    background: none;
    outline: none;
    color: #aaaaaa;

}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 22px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: navy;
    transition: .5s;
}
.txt_field input:focus ~ label, .txt_field input:valid ~ label{
    top: -5px;
    color: #4f473b;
}
.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
}
.pass:not(.inactive):hover{
    text-decoration: underline;
    cursor: pointer;
}
input[type="submit"]{
    width: 100%;
    height: 55px;
    margin: 2% auto;
    border: 1px solid rgb(36, 45, 57);
    background: rgb(36, 45, 57);
    border-radius: 25px;
    font-size: 35px;
    color: silver;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #adadad;
    transition: .5s;

}
.pass {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.pass .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.pass .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.pass .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}